# JetBrains IDEs
.idea/

# Dockle
.dockle/
_site/

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/

# Test and tooling caches
.coverage
coverage/
junit-python.xml
.pytest_cache/
.ruff_cache/
